<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    <bean class="ru.javawebinar.topjava.repository.inmemory.UserRepositoryInMemory" id="UserRepositoryInMemory"/>

    Dependency Injection with setter in UserService.class
    public void setRepository(UserRepository userRepository) {
    this.repository = userRepository;}

    <bean class="ru.javawebinar.topjava.service.UserService">
        <property name="repository" ref="UserRepositoryInMemory"/>
    </bean>


    Dependency Injection with constructor in UserService.class
    <bean class="ru.javawebinar.topjava.service.UserService">
        <constructor-arg name="repository" ref="UserRepositoryInMemory"/>
    </bean>-->

        <context:component-scan base-package="ru.javawebinar.**.repository"/>
        <context:component-scan base-package="ru.javawebinar.**.service"/>
        <context:component-scan base-package="ru.javawebinar.**.web"/>

</beans>